html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: linear-gradient(125deg, rgba(100, 200, 100, 0.5), rgba(100, 100, 200, 0.5));
  -moz-background: linear-gradient(125deg, rgba(100, 200, 100, 0.5), rgba(100, 100, 200, 0.5));
  -webkit-background: linear-gradient(125deg, rgba(100, 200, 100, 0.5), rgba(100, 100, 200, 0.5));
  -ms-background: linear-gradient(125deg, rgba(100, 200, 100, 0.5), rgba(100, 100, 200, 0.5)); }

.header h1 {
  color: #f8f8f8;
  text-shadow: 1px 1px 5px limegreen, 2px 2px 5px dodgerblue;
  font-size: 50px;
  font-weight: 700;
  padding: 200px 0 0 0; }

.header .lead {
  color: #f8f8f8;
  text-shadow: 1px 1px 3px limegreen, 1px 1px 3px dodgerblue;
  font-weight: 600; }

#home-header-section {
  background: url("./../img/mountain-view-4.jpg") 50% 0 repeat fixed;
  background-size: cover;
  min-height: 500px; }

#home-first-section {
  height: 600px; }

#carouselExampleIndicators {
  width: 800px;
  height: 500px;
  margin: 0 auto; }

.carousel-item {
  width: 800px;
  height: 500px;
  padding: 50px 0 0 0; }

.indicator.active {
  background: dodgerblue; }

.nav-list {
  background: rgba(0, 0, 0, 0.5);
  width: 100px;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.nav-list li a {
  color: white;
  position: relative;
  right: 20px;
  font-family: "Macondo", cursive; }

.nav-list li a:hover {
  color: dodgerblue;
  text-decoration: none;
  transition: 0.3s ease; }

.nav-list li {
  padding: 10px 0; }

.contact-header h1,
.about-header h1,
.header h1,
.header .lead,
.breath-menu,
.breath-footer {
  font-family: "Macondo", cursive; }

/*About Page */
#map-header-section,
#contact-header-section,
#about-header-section {
  background: url("../img/pic39.jpg") 50% 0 repeat fixed;
  background-size: cover;
  height: 500px; }

.about-article-container {
  padding: 70px 0;
  margin: 30px 0; }

.about-article-container p {
  font-family: "Alegreya", serif;
  font-size: 18px;
  width: 80%;
  position: relative;
  left: 75px; }

.contact-header h1,
.about-header h1 {
  padding: 200px 0;
  font-size: 55px;
  text-shadow: 1px 1px 4px green, 1px 1px 3px dodgerblue;
  color: #f8f8f8;
  font-weight: 700; }

.about-article-container h1 {
  font-family: "Alegreya", serif;
  text-shadow: 1px 1px 4px green, 1px 1px 3px dodgerblue;
  color: #f8f8f8;
  font-weight: 700; }

.about-article-container {
  -webkit-box-shadow: 0px 2px 7px 4px rgba(100, 100, 100, 0.5);
  -moz-box-shadow: 0px 2px 7px 4px rgba(100, 100, 100, 0.5);
  -ms-box-shadow: 0px 2px 7px 4px rgba(100, 100, 100, 0.5);
  box-shadow: 0px 2px 7px 4px rgba(100, 100, 100, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.side-photo img {
  position: relative;
  top: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 10px 1px #222;
  -moz-box-shadow: 1px 1px 10px 1px #222;
  -ms-box-shadow: 1px 1px 10px 1px #222;
  box-shadow: 1px 1px 10px 1px #222;
  border: 0.7px solid #222; }

/*Contact Page */
.breathtaking-contact-form h3 {
  font-family: "Alegreya", serif;
  padding: 10% 0;
  text-shadow: 1px 1px 4px green, 1px 1px 3px dodgerblue;
  color: #f8f8f8;
  font-weight: 700; }

.breathtaking-contact-form {
  padding: 0 0 5% 0; }

.breathtaking-contact-form input[type="submit"] {
  -webkit-box-shadow: 2px 2px 5px 1px #646464;
  -moz-box-shadow: 2px 2px 5px 1px #646464;
  -ms-box-shadow: 2px 2px 5px 1px #646464;
  box-shadow: 2px 2px 5px 1px #646464;
  background: linear-gradient(125deg, #6464c8, #64c864);
  -moz-background: linear-gradient(125deg, #6464c8, #64c864);
  -webkit-background: linear-gradient(125deg, #6464c8, #64c864);
  -ms-background: linear-gradient(125deg, #6464c8, #64c864);
  color: #f8f8f8; }

.breathtaking-contact-form input[type="submit"]:hover {
  -webkit-box-shadow: 0px 0px 0px 0px #222;
  -moz-box-shadow: 0px 0px 0px 0px #222;
  -ms-box-shadow: 0px 0px 0px 0px #222;
  box-shadow: 0px 0px 0px 0px #222; }

.breathtaking-contact-form input,
.breathtaking-contact-form textarea,
.breathtaking-contact-form textarea[placeholder="Enter your message"]::-webkit-input-placeholder,
.breathtaking-contact-form input[placeholder="Enter your email"]::-webkit-input-placeholder,
.breathtaking-contact-form input[placeholder="Enter your name"]::-webkit-input-placeholder {
  color: #000;
  font-size: 18px;
  font-family: "Oswald", sans-serif; }

.breathtaking-contact-form textarea[placeholder="Enter your message"]::-moz-placeholder,
.breathtaking-contact-form input[placeholder="Enter your email"]::-moz-placeholder,
.breathtaking-contact-form input[placeholder="Enter your name"]::-moz-placeholder {
  color: #000;
  font-size: 18px;
  font-family: "Oswald", sans-serif; }

.breathtaking-contact-form textarea[placeholder="Enter your message"]:-ms-placeholder,
.breathtaking-contact-form input[placeholder="Enter your email"]:-ms-placeholder,
.breathtaking-contact-form input[placeholder="Enter your name"]:-ms-placeholder {
  color: #000;
  font-size: 18px;
  font-family: "Oswald", sans-serif; }

.breathtaking-contact-form textarea[placeholder="Enter your message"]:-moz-placeholder,
.breathtaking-contact-form input[placeholder="Enter your email"]:-moz-placeholder,
.breathtaking-contact-form input[placeholder="Enter your name"]:-moz-placeholder {
  color: #000;
  font-size: 18px;
  font-family: "Oswald", sans-serif; }

/*MAP PAGE */
#map {
  height: 93%;
  width: 100%;
  display: block; }

/*# sourceMappingURL=app.css.map */
